@font-face {
    font-family: 'EHUSerif';
    src: url('../fonts/EHUSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'EHUSerif', sans-serif;
}